@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* -------------------
-----------first section start------------
--------------------------------------------- */
.container{
    background-color: black;
    background-repeat: no-repeat;
    width: 80%;
    height: 611px;
    margin-top: 50px;
    margin-bottom: 10%;
    padding: 30px;
    border-radius: 25px;
    
}
.container-banner{
    display: flex;
   
}
.banners{
    width: 100%;
    color: white;
    
}
.banners h1{
    font-size: 75px;
    margin-top: 10%;
    margin-left: 10%;  
}
.banners p{
    
    margin-left: 10%;
    margin-bottom: 30px;
}
.btn{
    
    margin-left: 10%;
    text-decoration: none;
    background-color:#DD0000;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}
.btn:hover{
   
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: 5s linear infinite;
     
}
.right-arrow{
    margin-left: 10px;
}
.banners img{
    
    width: 80%;
    margin-left: 10%;
    
}
/* -------------------
-----------first section end------------
--------------------------------------------- */


/* <!----------------------------
             second section start
         ----------------------------- --> */
.button-group{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-right: 50px;
    background-color: black;
    border-radius: 10px;
    width: 10%;
    align-items: center;
    
   
} 
#upcoming-match{
    background-color: #DD0000;
    width: 85%;
    color: white;
}
#upcoming-match:hover{
   
        background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        animation: 5s linear infinite;
         
    }
.btwn-1{
    background-color: white;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 80%;
    padding: 20px;
    margin-bottom: 15%;
    border-radius: 10px;
    
}
.btwn-2{
    background-color: #DD0000;
   text-decoration: none;
   text-align: center;
    color: white;
    width: 80%;
    padding: 20px;
    margin-bottom: 15%;
    border-radius: 10px;
}
.btwn-2:hover{
   
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: 5s linear infinite;
     
}
.container-2{
    display: flex;
    width: 100%;

}
.button-group{
    /* background: black;
    border-radius: 10px; 
    width: 10%; */
    padding: 50px;
} 


.category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 100px;
    
}
.product{
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.product-banner img{
    width: 350px;
    height: 200px;
    margin:50px 50px 10px 50px;
    
}
.product-detail{
    margin-left: 10%;
    margin-bottom: 20px;
} 

.rating .fa-clock{
    margin-right: 5px;
}
.rating .fa-comment-dots{
    margin-left: 15px;
    margin-right: 5px;
}

/* <!----------------------------
             second section end
         ----------------------------- --> */

.blogs{
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.vs{
     margin-top: 4em;
}

.product2{
    display: flex;
}
        
.product-banner2{
    width: 100%;

}
        
.product-banner2 img{

    width: 50%;
    margin:50px 50px 20px 50px;
}

.blogs h2{
    text-align: center;
}
        
.blogs p{
    text-align: center;
}
        

/* -------------------------------
           footer section
 -----------------------------------*/

.footer-content h1{
   padding-top: 100px;
   font-size: 50px;
} 

hr{ 
    text-align: center;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 55px;
    
}
 .footer-content{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 100px;
   
    
 }
 .footer-details a{
    text-decoration: none;
    color:#B9B9B9;
    margin: 0 30px;
    padding-left: 20px;
 }
/* -------------------------------
           footer section end
 -----------------------------------*/

 /*-----------------------
  media queries for mobile devices
  ---------------------------------  */
  @media only screen and (max-width:851px) {
    .container, .main-sec, .footer-content{
        width: 100%;
      }
    .container-banner{
        display: flex;
        flex-direction: column;
    }
    .banners img{
        display: block;
        width: 68%;
        margin-left: 10%;
        margin-top: 37px;
        
    }
    .banners h1{
        font-size: 30px;
        margin-top: 10%;
        margin-left: 10%;  
    }
    .btn{
        margin-left: 10%;
        text-decoration: none;
        background-color:#DD0000;
        padding: 7px 8px;
        border-radius: 5px;
        color: white;
        font-size: 25px;
        font-weight: 100;
        cursor: pointer;
    }
    .container-2{
        display: flex;
        flex-direction: column;
    }
    .button-group{
        width: 50%;
        margin-left: 12%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .category{
        grid-template-columns: repeat(1, 1fr);
    }


    .footer-details{
        display: flex;
        flex-direction: column;
    }
    .product-banner img{
    width: 300px;
    height: 200px;
    margin:50px 50px 10px 50px;
    }
    

}
