@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* -------------------
-----------first section start------------
--------------------------------------------- */
.container{
    background-color: black;
    width: 80%;
    height: 611px;
    margin-top: 50px;
    margin-bottom: 10%;
    padding: 30px;
    border-radius: 25px;
}
.container-banner{
    display: flex;
   
}
.banners{
    width: 100%;
    color: white;
    
}
.banners h1{
    font-size: 75px;
    margin-top: 10%;
    margin-left: 10%;  
}
.banners p{
    
    margin-left: 10%;
}
.btn{
    margin-left: 10%;
    border: none;
    background-color:#DD0000;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
   
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: 5s linear infinite;
     
}
.banners img{
    
    width: 80%;
    margin-left: 10%;
    
}
/* -------------------
-----------first section end------------
--------------------------------------------- */


/* <!----------------------------
             second section start
         ----------------------------- --> */
.button-group{
    display: flex;
    flex-direction: column;
    
    align-self: flex-start;
    margin-right: 50px;
   background-color: black;
    
   
} 
.btwn-1{
    background-color: white;
    border: none;
    color: black;
    width: 100%;
    padding: 20px;
    margin-bottom: 15%;
    border-radius: 10px;
}
.btwn-2{
    background-color: #DD0000;
    border: none;
    color: white;
    width: 100%;
    padding: 20px;
    margin-bottom: 15%;
    border-radius: 10px;
}
.container-2{
    display: flex;
    width: 100%;

}
.button-group{
    background: black;
    border-radius: 10px;
    width: 10%;
    padding: 50px;
} 



.category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.product{
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
}

.product-banner img{
    width: 350px;
    height: 200px;
    margin:50px 50px 0 50px;
    
}
.product-detail{
    margin-left: 10%;
} 

/* <!----------------------------
             second section end
         ----------------------------- --> */

